In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nishihara,JP,2021-05-23 05:22:32,26.1842,127.7558,85.68,78,75,13.27
1,1,Provideniya,RU,2021-05-23 05:22:33,64.3833,-173.3000,37.20,75,91,4.52
2,2,Bonoua,CI,2021-05-23 05:22:33,5.2741,-3.5950,78.42,88,100,2.33
3,3,Ushuaia,AR,2021-05-23 05:22:34,-54.8000,-68.3000,35.26,93,90,1.14
4,4,Sao Jose Da Coroa Grande,BR,2021-05-23 05:22:34,-8.8978,-35.1478,78.40,63,65,6.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nishihara,JP,2021-05-23 05:22:32,26.1842,127.7558,85.68,78,75,13.27
2,2,Bonoua,CI,2021-05-23 05:22:33,5.2741,-3.5950,78.42,88,100,2.33
4,4,Sao Jose Da Coroa Grande,BR,2021-05-23 05:22:34,-8.8978,-35.1478,78.40,63,65,6.44
10,10,Daultala,PK,2021-05-23 05:22:36,33.1925,73.1413,80.62,26,100,7.27
13,13,Vaini,TO,2021-05-23 05:22:38,-21.2000,-175.2000,77.16,94,75,2.30
14,14,Emba,KZ,2021-05-23 05:22:38,48.8264,58.1442,83.17,19,2,4.50
19,19,Ternate,ID,2021-05-23 05:22:39,0.8000,127.4000,84.40,70,76,5.84
24,24,Labuhan,ID,2021-05-23 05:22:41,-6.8844,112.2051,86.04,64,49,7.05
32,32,Bloomingdale,US,2021-05-23 05:22:44,27.8936,-82.2404,75.11,79,1,1.01
42,42,Rikitea,PF,2021-05-23 05:22:48,-23.1203,-134.9692,75.24,74,3,11.56

In [12]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
0                  Nishihara      JP     85.68  26.1842  127.7558
2                     Bonoua      CI     78.42   5.2741   -3.5950
4   Sao Jose Da Coroa Grande      BR     78.40  -8.8978  -35.1478
10                  Daultala      PK     80.62  33.1925   73.1413
13                     Vaini      TO     77.16 -21.2000 -175.2000
14                      Emba      KZ     83.17  48.8264   58.1442
19                   Ternate      ID     84.40   0.8000  127.4000
24                   Labuhan      ID     86.04  -6.8844  112.2051
32              Bloomingdale      US     75.11  27.8936  -82.2404
42                   Rikitea      PF     75.24 -23.1203 -134.9692

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Nishihara,JP,85.68,26.1842,127.7558,Minshuku Agaihama
2,Bonoua,CI,78.42,5.2741,-3.5950,Hotel Bon Samaritian
4,Sao Jose Da Coroa Grande,BR,78.40,-8.8978,-35.1478,Crôa Mares Hotel
10,Daultala,PK,80.62,33.1925,73.1413,Waheed garmints and cosmetic
13,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))