## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nikolskoye,59.7035,30.7861,54.81,78,98,13.76,overcast clouds
1,1,Albany,42.6001,-73.9662,50.81,78,73,3.04,broken clouds
2,2,Pangnirtung,66.1451,-65.7125,7.83,79,87,7.49,overcast clouds
3,3,Cidreira,-30.1811,-50.2056,55.74,73,93,24.99,overcast clouds
4,4,Chokurdakh,70.6333,147.9167,30.83,95,40,4.68,scattered clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Rikitea,-23.1203,-134.9692,75.11,77,90,7.05,overcast clouds
6,6,Saint-Philippe,-21.3585,55.7679,76.55,82,96,11.77,light rain
12,12,Tumkur,13.3422,77.1017,85.73,49,43,13.09,scattered clouds
13,13,Atuona,-9.8000,-139.0333,79.77,80,22,20.29,few clouds
19,19,San Patricio,28.0170,-97.5169,78.66,94,18,7.25,few clouds
20,20,Aketi,2.7388,23.7833,80.02,63,85,3.27,overcast clouds
22,22,Bubaque,11.2833,-15.8333,79.25,67,24,8.48,few clouds
24,24,Itoman,26.1247,127.6694,88.18,84,20,14.97,few clouds
26,26,Gat,31.6100,34.7642,79.39,49,2,4.27,clear sky
40,40,Shu,43.5983,73.7614,87.21,24,35,4.47,scattered clouds

In [8]:
# 4. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                213
City                   213
Lat                    213
Lng                    213
Max Temp               213
Humidity               213
Cloudiness             213
Wind Speed             213
Current Description    213
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure